<div class="container">
  <mat-card>
    <mat-card-header align="center">
      <mat-card-title>Password strength test</mat-card-title>
    </mat-card-header>
    <mat-card-content align="center">
      <form [formGroup]="form" autocomplete="off">
        <input type="password" autocomplete="off" placeholder="Password" formControlName="password"
          onfocus="this.removeAttribute('readonly')">
      </form>
      <app-password-strength [strength]="form.get('password')!.errors"></app-password-strength>
    </mat-card-content>
  </mat-card>
</div>