.sections {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.section-item {
  width: 5rem;
  height: 0.45rem;
  list-style: none;
}

.message {
  color: #575757;
  font-weight: 400;
  font-size: 1rem;
  margin-top: 2rem;
}

ul {
  padding: 0;
}
